<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="format-detection" content="telephone=no">
		<link rel="stylesheet" th:href="@{/plugins/font-awesome/4.7.0/css/font-awesome.min.css}" media="all" />
		<link rel="stylesheet" th:href="@{/plugins/layui/2.4.5/css/layui.css}" media="all" />
		<link rel="stylesheet" th:href="@{/css/public.css}" media="all" />
	</head>

	<body class="childrenBody">
		<div class="noFind">
			<div class="ufo">
				<i class="seraph icon-test ufo_icon"></i>
				<i class="layui-icon page_icon">&#xe638;</i>
			</div>
			<div class="page500">
				<i class="layui-icon">&#xe61c;</i>
				<p>对不起，您无权访问此页面!</p>
			</div>
		</div>
	</body>
</html>