<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.mapper.system.ScRoleMapper">
	<resultMap id="BaseResultMap" type="org.entity.system.ScRole">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="uid" property="uid" jdbcType="VARCHAR" />
		<result column="code" property="code" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="create_user" property="createUser"
			jdbcType="VARCHAR" />
		<result column="create_time" property="createTime"
			jdbcType="VARCHAR" />
		<result column="update_user" property="updateUser"
			jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime"
			jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, uid, `code`, `name`, create_user,
		DATE_FORMAT(create_time,'%Y-%m-%d %H:%i:%s') as
		create_time,
		update_user,
		DATE_FORMAT(update_time,'%Y-%m-%d %H:%i:%s')
		as
		update_time
	</sql>
	<select id="select" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from sc_role
		where `code` = #{code,jdbcType=VARCHAR}
	</select>
	<delete id="delete" parameterType="java.lang.String">
		delete from sc_role
		where
		`code` = #{code,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="org.entity.system.ScRole">
		insert into sc_role
		<trim prefix="(" suffix=")" suffixOverrides=",">
			uid,
			`code`,
			`name`,
			create_user,
			create_time,
			update_user,
			update_time,
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			#{uid,jdbcType=VARCHAR},
			#{code,jdbcType=VARCHAR},
			#{name,jdbcType=VARCHAR},
			#{createUser,jdbcType=VARCHAR},
			STR_TO_DATE(#{createTime,jdbcType=VARCHAR},'%Y-%m-%d %H:%i:%s'),
			#{updateUser,jdbcType=VARCHAR},
			STR_TO_DATE(#{updateTime,jdbcType=VARCHAR},'%Y-%m-%d %H:%i:%s'),
		</trim>
	</insert>
	<update id="update" parameterType="org.entity.system.ScRole">
		update sc_role
		<set>
			<if test="name != null and name != '' ">
				name = #{name,jdbcType=VARCHAR},
			</if>
			update_user = #{updateUser,jdbcType=VARCHAR},
			update_time =
			STR_TO_DATE(#{updateTime,jdbcType=VARCHAR},'%Y-%m-%d %H:%i:%s'),
		</set>
		where `code` = #{code,jdbcType=VARCHAR}
	</update>
	<select id="page" parameterType="org.dto.system.ScRoleDto"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from sc_role
		<where>
			uid is not null
			<if test="name != null and name != ''">
				AND `name` like CONCAT('%',#{name,jdbcType=VARCHAR},'%')
			</if>
		</where>
	</select>
	<!-- 根据角色编码查询角色下的所有用户列表 -->
	<resultMap id="RoleUsers" type="org.entity.system.ScUser">
		<result column="real_name" property="realName"
			jdbcType="VARCHAR" />
		<result column="type_name" property="typeName"
			jdbcType="VARCHAR" />
		<result column="status_name" property="statusName"
			jdbcType="VARCHAR" />
		<result column="create_time" property="createTime"
			jdbcType="VARCHAR" />
	</resultMap>
	<select id="findRoleUsers" parameterType="java.lang.String"
		resultMap="RoleUsers">
		SELECT
		u.real_name,
		t.`name` AS type_name,
		s.`name` AS status_name,
		DATE_FORMAT(ur.create_time,'%Y-%m-%d %H:%i:%s') as create_time
		FROM
		sc_user AS u
		LEFT JOIN sc_setting AS t ON u.type = t.`code`
		LEFT JOIN
		sc_setting AS s ON u.`status` = s.`code`
		LEFT JOIN sc_user_role AS ur
		ON u.`code` = ur.user_code
		LEFT JOIN sc_role AS r ON ur.role_code =
		r.`code`
		<where>
			r.`code` = #{code,jdbcType=VARCHAR}
			<if test="name != null and name != '' ">
				AND u.real_name like CONCAT('%',#{name,jdbcType=VARCHAR},'%')
			</if>
		</where>
	</select>
	<!-- 根据角色编码查询角色下的所有菜单列表 -->
	<resultMap id="RoleMenus" type="org.entity.system.ScMenu">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="status_name" property="statusName"
			jdbcType="VARCHAR" />
		<result column="create_time" property="createTime"
			jdbcType="VARCHAR" />
	</resultMap>
	<select id="findRoleMenus" parameterType="java.lang.String"
		resultMap="RoleMenus">
		SELECT
		m.`name`,
		s.`name` as status_name,
		DATE_FORMAT(rm.create_time,'%Y-%m-%d %H:%i:%s') as create_time
		FROM
		sc_menu AS m
		LEFT JOIN sc_setting as s ON m.`status` = s.`code`
		LEFT JOIN sc_role_menu AS rm ON m.`code` = rm.menu_code
		LEFT JOIN sc_role AS r ON rm.role_code = r.`code`
		<where>
			r.`code` = #{code,jdbcType=VARCHAR}
			<if test="name != null and name != '' ">
				AND m.`name` like CONCAT('%',#{name,jdbcType=VARCHAR},'%')
			</if>
		</where>
	</select>
</mapper>