<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.mapper.system.ScSettingMapper">
	<resultMap id="BaseResultMap"
		type="org.entity.system.ScSetting">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="uid" property="uid" jdbcType="VARCHAR" />
		<result column="code" property="code" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="parent_code" property="parentCode"
			jdbcType="VARCHAR" />
		<result column="parent_name" property="parentName"
			jdbcType="VARCHAR" />
		<result column="create_user" property="createUser"
			jdbcType="VARCHAR" />
		<result column="create_time" property="createTime"
			jdbcType="VARCHAR" />
		<result column="update_user" property="updateUser"
			jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime"
			jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, uid, code, parent_code, name, create_user,
		DATE_FORMAT(create_time,'%Y-%m-%d %H:%i:%s') as
		create_time,
		update_user,
		DATE_FORMAT(update_time,'%Y-%m-%d %H:%i:%s')
		as
		update_time
	</sql>
	<select id="select" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select s.`code`,s.`name`,s.parent_code,p.`name` as
		parent_name from
		sc_setting as s LEFT JOIN sc_setting as p ON
		s.parent_code = p.`code`
		where s.`code` = #{code,jdbcType=VARCHAR}
	</select>
	<delete id="delete" parameterType="java.lang.String">
		delete from sc_setting
		where
		`code` = #{code,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="org.entity.system.ScSetting">
		insert into sc_setting
		<trim prefix="(" suffix=")" suffixOverrides=",">
			uid,
			code,
			<if test="parentCode != null and parentCode != '' ">
				parent_code,
			</if>
			name,
			create_user,
			create_time,
			update_user,
			update_time,
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			#{uid,jdbcType=VARCHAR},
			#{code,jdbcType=VARCHAR},
			<if test="parentCode != null and parentCode != '' ">
				#{parentCode,jdbcType=VARCHAR},
			</if>
			#{name,jdbcType=VARCHAR},
			#{createUser,jdbcType=VARCHAR},
			STR_TO_DATE(#{createTime,jdbcType=VARCHAR},'%Y-%m-%d %H:%i:%s'),
			#{updateUser,jdbcType=VARCHAR},
			STR_TO_DATE(#{updateTime,jdbcType=VARCHAR},'%Y-%m-%d %H:%i:%s'),
		</trim>
	</insert>
	<update id="update" parameterType="org.entity.system.ScSetting">
		update sc_setting
		<set>
			<if test="parentCode != null and parentCode != '' ">
				parent_code = #{parentCode,jdbcType=VARCHAR},
			</if>
			<if test="name != null and name != '' ">
				name = #{name,jdbcType=VARCHAR},
			</if>
			update_user = #{updateUser,jdbcType=VARCHAR},
			update_time =
			STR_TO_DATE(#{updateTime,jdbcType=VARCHAR},'%Y-%m-%d %H:%i:%s'),
		</set>
		where `code` = #{code,jdbcType=VARCHAR}
	</update>

	<select id="selectAll" resultMap="BaseResultMap"
		parameterType="org.dto.system.ScSettingDto">
		select s.`code`,s.`name`,s.parent_code,p.`name` as parent_name from
		sc_setting as s LEFT JOIN sc_setting as p ON s.parent_code = p.`code`
		<where>
			s.uid is not null
			<if test="parentCode != null and parentCode != '' ">
				AND s.parent_code = #{parentCode,jdbcType=VARCHAR}
			</if>
			<if test="name != null and name != '' ">
				AND s.`name` like
				CONCAT('%',#{name,jdbcType=VARCHAR},'%')
			</if>
		</where>
	</select>
</mapper>