<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.mapper.system.ScUserRoleMapper">
	<resultMap id="BaseResultMap"
		type="org.entity.system.ScUserRole">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="uid" property="uid" jdbcType="VARCHAR" />
		<result column="user_code" property="userCode"
			jdbcType="VARCHAR" />
		<result column="role_code" property="roleCode"
			jdbcType="VARCHAR" />
		<result column="create_user" property="createUser"
			jdbcType="VARCHAR" />
		<result column="create_time" property="createTime"
			jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, uid, user_code, role_code, create_user, create_time
	</sql>
	<select id="selectByDto" resultMap="BaseResultMap"
		parameterType="org.dto.system.ScUserRoleDto">
		select
		<include refid="Base_Column_List" />
		from sc_user_role
		<where>
			user_code = #{userCode,jdbcType=VARCHAR}
			AND role_code =
			#{roleCode,jdbcType=VARCHAR}
		</where>
	</select>
	<delete id="deleteByDto"
		parameterType="org.dto.system.ScUserRoleDto">
		delete from sc_user_role
		<where>
			user_code = #{userCode,jdbcType=VARCHAR}
			AND role_code =
			#{roleCode,jdbcType=VARCHAR}
		</where>
	</delete>
	<insert id="insert" parameterType="org.entity.system.ScUserRole">
		insert into sc_user_role
		<trim prefix="(" suffix=")" suffixOverrides=",">
			uid,
			user_code,
			role_code,
			create_user,
			create_time,
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			#{uid,jdbcType=VARCHAR},
			#{userCode,jdbcType=VARCHAR},
			#{roleCode,jdbcType=VARCHAR},
			#{createUser,jdbcType=VARCHAR},
			STR_TO_DATE(#{createTime,jdbcType=VARCHAR},'%Y-%m-%d %H:%i:%s'),
		</trim>
	</insert>
</mapper>